body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0;               /* width of the entire scrollbar */
}

:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: initial;
  text-decoration: initial;

  &:hover {
    color: initial;
    text-decoration: initial;
  }
}

$white: #fff;
$white2: #eee;
$white3: rgb(235, 235, 235);
$dark: rgb(24, 24, 24);
$dark2: #121212;
$dark3: #acacac;
$dark4: #aaaaaa;

.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background: $white2;
  color: $dark;

  .App {
    background: $white;
    width: 100%;
    max-width: 400px;
    height:90vh;
    max-height: 800px;
    border-radius: 30px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.082);
    overflow: hidden;
    position: relative;

    .topBar {
      padding: 20px;
      position: absolute;
      width: 100%;

      svg {
        font-size:22px;
        color: $dark;
      }
    }


    .menuBar {
      padding:20px 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-content: center;
      flex-wrap: nowrap;
      flex-direction: row;
      position: absolute;
      width: 100%;
      bottom: 0;
     // background: linear-gradient(180deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 100%);

      .svg-box {
        padding: 0 10px 20px;
      }
      .svg-box.active {
        border-bottom: 2px solid red;
        
        svg {
          color: $dark;
        }
      }
      .svg-box svg {
        font-size: 22px;
        color: $dark;
      }
      .userIcon {
        font-size:19px !important;
      }
    }
  }

  .profilePage {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
  }

  .delBtn {
    background: red;
    border: 0;
    color: $white;
    width: 60px;
    height: 60px;
    font-size: 20px !important;


    &:hover {
      background:rgb(228, 0, 0);
      border: 0;
      color: white;
    }
  }
  .noExtra {
    margin: 0;
    padding: 0;
  }

  .table {
    font-size: 13px;
    color:$dark;
  }


  .gButton {
    background: $dark !important;
    color: $white !important;

    div {
      background: $dark !important;
    }
  }

  .newStuff {
    padding: 0 20px 20px;

    h2 {
      font-size: 25px;
    }
    h5 {
      font-size: 20px;
      width: 100%;
      color: $dark;
    }
    .fImg {
      border-radius: 15px !important;
      object-fit: none;
      object-position: 50% 50%;
      max-height: 100px;
      width: 100px;
      margin-right: 10px;
    }
    .newStuffData {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
  }

.card-title {color:$dark;    white-space: normal;}
  .card {border:0;background: transparent;margin-bottom: 50px;}
  .card-img, .card-img-top {
    border-radius: 15px !important; 
    object-fit: none;
    object-position: 50% 50%;
    max-height: 55vh;
    width: 100%;
  }
  .card-body {
    position: absolute;
    bottom: 15px;
    width: 90%;
    background: $white;
    border-radius: 20px;
    margin: auto;
    left: 0;
    right: 0;
  }
.card-text {font-size: 12px;color:red;}
.card-text span {margin-left:10px;color:$dark3;}
.h2post {
    display: flex;
    align-items: center;

    svg {
      width: 50px;
      color:$dark;
    }
}

.postImg {
  margin-bottom: 20px;
  transform: translate(-10%, 0);
  object-fit: none;
  object-position: 50% 50%;
  max-height: 300px;
  width: 120%;
}
.postBox {
  padding: 0 20px;
  p {
    font-size: 14px;
  }
}
.searchArea {
  padding: 20px 0;
}

}
.pages {
  padding: 65px 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.text-right {text-align: right;}
.moonIcon {
  font-size: 16px !important;
  margin-left: 10px;
}

.blogs {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.blogs a{
  display: inline-block;
  width: 300px;
  height: 390px;
  margin: 0 20px;
}

.logBtn {
  border: 0;
  background: red;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  font-size: 11px;
}


.positionchange {
  position: relative;
}
.searchInput {
    position: absolute;
    left: 0;
    z-index: 1;
    border: 0;
    padding: 6px 55px 0 60px;
    font-size: 13px;
    height: 60px;
    transform: translate(-12px, -20px);
    width: 405px;
    border-radius: 4px;
    transition: all .3s ease;
    color:$dark;
    background: transparent;
    

    &:focus {
      outline: none;
      background: $white3;
    }
}

.zindex {
  position: relative;
  z-index: 2;
}

.list-group a:first-child {border-top: 0;}
.list-group a:last-child {border-bottom: 0;}


.list-group-item  {
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  border-left: 0;
  border-right: 0;
  box-shadow: 0 8px 12px rgba(0, 0, 0,.1);
  margin: 0 auto 10px;
  border: 0;
  width: 90%;
  border-radius: 8px !important;
}

.fImg {
  border-radius: 5px !important;
  object-fit: none;
  object-position: 50% 50%;
  max-height: 60px;
  width: 60px;
  margin-right: 10px;
}

.commonInput {
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 15px 25px;
  font-size:14px;
  background: transparent;
  color: $dark;
  text-align: left;
  margin: 0;

  &:focus {
    outline: none;
    border-bottom: 1px solid orange !important;
  }
}
.commonInput.textArea {
  min-height: 150px;
}

.buttonUpload {
  margin-top: -7px;
}
.saveButton {
}

.moveTop {
  position: absolute;
  top:0;
}

.flexBoard {
 
}

.proImg {
  max-width: 30px;
  border-radius: 50%;
}

.smallText {
  font-size: 12px;
  color: #585858;
}

.dark {

  background: $dark2;
  color:$white;

    .App {
      background: $dark;
     /*  box-shadow: 2px 2px 22px rgba(0, 0, 0, 0.2); */

        .topBar {
          
        }
        svg {
          color: $white !important;
        }
      .menuBar {
         
      }
  }
  .card-body {
    background: $dark;
  }
  .card-title {color:$white}
  .h2post {
    svg {
      color:$white;
    }
  }

  .newStuff {
    h5{
      color: $white;
    }
  }

        .searchInput {
          color:$white;
        
          &:focus {
            outline: none;
            background: $dark;
            border-bottom: 1px solid rgba(255, 255, 255, .1);
            
      
          }
      }

      .list-group-item {
        background: $dark;
        color:$white;
        border-color:#3b3b3b;
      }

      .commonInput {
        border-bottom: 1px solid $dark3;
        color: $white;
      }

      .gButton {
        background: $white !important;
        color: $dark !important;
    
        div {
          background: $white !important;
        }
      }
      .table {
        color:$white;
        border-color: rgb(59, 59, 59);
      }
      .delBtn { 
      }

}


@media (max-width:560px) {
  .bg .App {
    max-width: initial;
    height: 100vh;
    max-height: initial;
    border-radius: 0;
    box-shadow: none;
  }
}